.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.name {
  font-size: 20px;
  cursor: pointer;
}
.quick-links img {
  width: 30px;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  background: #ececec;

  border-radius: 20px;
  padding: 10px;
}
.navigation li {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 5px;
}

.navigation li a {
  text-decoration: none;
  color: black;
}

.navigation li img {
  width: 20px;
  height: 20px;
  opacity: 50%;
}
.quick-links {
  display: flex;
  gap: 20px;
}
.navigation .links {
  padding: 10px;
}
.navigation .links:hover {
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}
.links {
  cursor: pointer;
}

@media (max-width: 900px) {
  .navigation {
    display: flex;
    /* flex-direction: column; */
    position: fixed;
    bottom: 0;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 550px) {
  .navigation {
    margin-bottom: 0;
    gap: 5px;
  }
}

@media (max-width: 450px) {
  .links a {
    font-size: 12px;
  }

  .links img {
    width: 10px;
    height: 10px;
    display: none;
  }
}
