.about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me p {
  max-width: 850px;
  line-height: 1.75;
  text-align: center;
  color: #4a4a4a;
  font-size: 1rem;
  margin-top: 5px;
}
.skill-set {
  display: flex;
  flex-direction: row;
  gap: 75px;
  animation: scroll-left 20s linear infinite;
  width: max-content;
}
.skill-set li img {
  width: 60px;
}
.skill-set li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.scroller {
  max-width: 700px;
  overflow: hidden;
}

@media (max-width: 850px) {
  .skill-set li {
    align-items: center;
  }
  .about-me {
    margin-top: 50px;
  }
  .about-me p {
    font-size: 12px;
  }
  .scroller {
    max-width: 500px;
  }
}
@media (max-width: 650px) {
  .skill-set li img {
    width: 50px;
  }
  .skill-set {
    margin-left: 0;
    gap: 30px;
  }
  .scroller {
    max-width: 300px;
  }
  .about {
    gap: 0;
  }
  .about {
    height: 100%;
  }
}

@media (max-width: 400px) {
  .skill-set li {
    gap: 20px;
  }
  .skill-set li img {
    width: 30px;
  }
  .skill-set li p {
    font-size: 12px;
  }
  .scroller {
    max-width: 200px;
  }
  .skills {
    padding-bottom: 10px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.skill-set:hover {
  animation-play-state: paused;
}
